@import 'helpers/variables';
@import 'helpers/mixins';
@import 'base/reset';
@import 'base/fonts';
@import 'font-awesome/font-awesome';
@import 'layout/general';
@import 'layout/header';

header {
	.middle-header {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 0 10px;		
	}
}