// COLORS
$background-color: 	#ffffff;
$first-color: 		#db489e; // Pink Pantone
$second-color:  	#7d2840; // Claret
$third-color:   	#e88d8b; // New York Pink
$fourth-color:  	#d48de0; // Bright Lilac
$fifth-color:   	#d669c0; // Sky Magenta